SUPABASE_URL=https://nyljfgklrxudtaizfbcj.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im55bGpmZ2tscnh1ZHRhaXpmYmNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE4NTE2NTMsImV4cCI6MjA3NzQyNzY1M30.ycLnPok0gUO9-Fl2HGKXG5T3-rVjuCVgihC3SH03rXk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im55bGpmZ2tscnh1ZHRhaXpmYmNqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTg1MTY1MywiZXhwIjoyMDc3NDI3NjUzfQ.3JAH0y39TuwLl4knPX2Y4pi4vbzZFYUCOa1yqofkI-4
TABLE_NEWS=news